.container {
    width: 93%;
    height: 60%;

    overflow: auto;

    padding: 5px;

    border-radius: 12px;

    color: #fdfffc;
    background-color: #001219;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container table {
    width: 100%;
    text-align: left;
}
.container table tr th {
    height: 4vh;

    text-align: center;

    padding-left: 15px;
}
.container table tr th:nth-child(1) {
    text-align: left;
}
.container table tr td {
    height: 6vh;
    
    text-align: center;

    padding-left: 15px;
    border-bottom: 1px #fdfffc solid;
}
.container table tr td:nth-child(1) {
    text-align: left;
}
.container table tr td:nth-child(4) {
    cursor: pointer;

    border: 1px #fdfffc solid;
    border-radius: 3px;

    font-weight: bold;
    letter-spacing: .8px;
    color: #000;
    
    background-color: #fdfffc;
}
.container table tr td:nth-child(4):hover {
    color: #000;
    background-color: #fdfffc;
}
.container table tr td:nth-child(4):active {
    color: #fdfffc;
    background-color: #001219;
}